<div class="services-page-wrapper">
  <h1>Screen Engine Services</h1>
  <div
    fxLayout="row wrap"
    fxLayoutGap="16px"
    fxLayoutAlign="center">
    <ng-container
      *ngFor="let productCategory of products; let i = index">
      <app-number-card
        class="cardListItem"
        fxFlex="0 1 calc(25% - 32px)"
        [number]="productCategory.value"
        faIconClass="fa-user-plus"
        [showSpinner]=false
        [bandColor]="productCategory.bandColor"
        [description]="productCategory.name"
        (click)="selectCategory(products[i])">
      </app-number-card>
    </ng-container>
  </div>
    <mat-card
      class="products-table-card"
      *ngIf="selectedCategory">
      <mat-card-title>
        {{selectedCategory}}
      </mat-card-title>
      <mat-card-content class="products-table-container">
        <app-table [category]="selectedCategoryServices"></app-table>
      </mat-card-content>
    </mat-card>
</div>
<router-outlet></router-outlet>
