.cardListItem {
  margin: 1%;
}
.products-table-container {
  max-height: 700px;
  overflow: auto;
  margin: 36px;
}
.services-page-wrapper, .products-table-card {
  margin: 22px;
}
table {
  width: 100%;
}
